body {
  background-color: lightpink;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 70%;
}

h1 {
  color: maroon;
  text-align: center;
  font-size: 67px;
}

#sidebar {
  background-image: url(images/contact.jpg);
  float: right;
}
