.column{
  float: right;
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px
}
.body{
  background-color: skyblue;
}
.text-box{
  text-shadow: black;
  text-align: center;
  background-color: navy;
  border: 2px solid blue;
  padding: 6px
  margin: 20px
}
.image{
  float: left;
  border-color: pink;
  border-width: medium;
  border-radius: 20%
}
#topic{
  text-indent: inherit;
  text-align: center;
}
